*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

  --primary-color: #2563eb; 
font-family: Arial, Helvetica, sans-serif;
padding: 2rem;
display: flex;
justify-content: center;
background-color: #faf8f1;
align-items: center;
}
.container{
    
    background-color: white;
    display: flex;
    width: 700px;
    height: 340px;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 150px;
}
.right{
    background-color: var(--primary-color);
    padding: 35px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
.right h2{
    padding: 13px;
    color: white;
    font-size: 30px;
}
.right p{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: large;
}
.right button{
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    border: none;
    background-color: coral;
    color: white;
    margin-top: 10px;
}
.left{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 60px;
    text-align: center;
    
}
.left h3{
    padding-top: 10px;
    font-size: 30px;
}
.input-group{
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}
.input-group input{
    padding: 8px 10px;
    width: 100%;
}
.input-group i{
    position: absolute;
    right: 12px;
    top: 50%; 
    transform: translateY(-50%);
    pointer-events: none;   
}
#user{
    margin-bottom: 15px;
}
.left p{
    color: #555555;
}
.left button{
    padding-left: 50px;
    padding-right: 60px;
    padding: 10px;
    background: linear-gradient(to right, rgb(230, 8, 8),rgb(21, 196, 21));
    font-size: 25px;
    color: #faf8f1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
}
.socials a{
     padding: 10px; 
     color: black;
     cursor: pointer;
}